# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
venv/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Data files (optional if dataset is large)
data/

# Logs
*.log

# Mac / Windows system files
.DS_Store
Thumbs.db
